<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="2147483647" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.IO.Compression.ZipFile, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="MySQLConnStr" connectionString="DRIVER={MySQL ODBC 5.1 Driver}; Server=172.17.0.4;port=3306; User=root; Password=MySQL123; Database=test;charset=utf8;" />
  </connectionStrings>
  <appSettings>
    <add key="ArticlePath" value="D:\FTPROOT\LocalUser\idfiles\Images\" />
    <add key="EscenicFiles" value="D:\EscenicFilesXMLs\" />
    <add key="ArticlePathUncorrected" value="D:\FTPROOT\LocalUser\idfiles\ToBeCorrectedImages\" />
    <add key="ArticlePathcorrected" value="D:\FTPROOT\LocalUser\idfiles\Corrected_Images\" />
    <add key="ArticlePreview" value="http://localhost/ImageSrc/" />
    <add key="FTPEscenic" value="ftp://stg01.kslnd6.thehindu.co.in" />
    <add key="FTPEscenicExtn" value="/" />
    <add key="FTPEscenicUserName" value="ftpuser" />
    <add key="FTPEscenicPwd" value="FtpPass@2018" />
    <!--<add key="ArticlePath" value="D:\ftproot\LocalUser\idfiles\Images\"/>
    <add key="ArticlePreview" value="http://192.9.200.137/ArticlePreview/"/>-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <!-- Limits set to 10 MB (specified value in bytes) -->
        <binding name="ApiQuotaBinding" maxReceivedMessageSize="10485760" maxBufferPoolSize="10485760" maxBufferSize="10485760" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00">
          <readerQuotas maxDepth="32" maxStringContentLength="10485760" maxArrayLength="10485760" maxBytesPerRead="10485760" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpBehavior">
          <dataContractSerializer maxItemsInObjectGraph="1365536" />
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="1365536" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="NewsStreamService">
        <endpoint address="" binding="webHttpBinding" name="NewsStreamService" contract="INewsStreamService" behaviorConfiguration="EndpBehavior" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
                <clear />
                <add value="index.html" />
                <add value="login.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>